@font-face{
    font-family: "digiface";
    src: url(../fonts/DIGIFACE.ttf);
}
.linear-words{
    background: linear-gradient(to top,#8DD2FF,#FFFFFF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}